@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

.topics {

    /* height: 100vh; */
    padding-top: 4rem;
}

.topics main {
    position: relative;
}

.topics header {
    text-align: center;
}

.article {
    margin: 1rem auto;
    width: 70vw;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.content {
    font-family: Montserrat;
    font-size: large;
}

.readmore_btn {
    cursor: pointer;
    padding: 12px;
}

.readmore_btn:hover {
    font-size: 110%;
}