.sidenav_body {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: grey;
    opacity: 0.8;
    z-index: 300;
}

.close {
    border: 1px solid blue;
}

.sidenav {
    position: fixed;
    right: 0;
    width: 50%;
    height: 100%;
    background-color: black;
}

.sidenav ul {
    list-style: none;
    padding: 10px;
    border: 1px solid red;
}

.sidenav ul li {
    padding: 20px;
    border: 1px solid green;
}