.cloudy {
  color: white;
  background-image: url('/images/normal_evening.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100vw;
  height: 100vh;
}

.rainy {
  color: white;
  background-image: url('/images/sunset.gif');
  width: 100%;
  height: 100%;
}

.clear {
  color: white;
  background-image: url('/images/sunset.gif');
  width: 100%;
  height: 100%;
}

