.skills {
    /* height: 100vh; */
    padding-top: 4rem;
    text-align: center;
}

.skills main {
    position: relative;
    width: 80vw;
    margin: 0 auto;
    text-align: center;
}

.skills main p {
    font-size: large;
}

.skills main .icon {
    display: flex;
    justify-content: center;
}

.skills main .icon ul {
    display: flex;
}

.skills main .icon ul li{
    font-size: 20px;
    list-style: none;
    margin: 10px;
}

.skills main .icon ul li:hover{
    transform: scale(1.5);
}
