

.about{
    /* height: 100vh; */
    color:white;
    text-align: center;
    content: "About";
}

.about_tag {
    position: fixed;
    font-family: Montserrat;
    width: 70vw;
    font-size: 1.5rem;
    left: 50%;
    transform: translateX(-50%);
    padding-top: calc(100vh * 0.2);
}

.about_tag p::before {
    content: open-quote;
}

.about_tag p::after {
    content: close-quote;
}

.about_titles {
    padding-top: calc(100vh * 0.4);
}

.about_intro {
    font-size: xx-large;
    font-weight: 300;
}

.about_roles {
    font-size: x-large;
    font-weight: 100;
}