.about {
    /* height: 100vh; */
    text-align: center;
}

.about_titles {
    padding-top: calc(100vh * 0.4);
}

.about_intro {
    font-size: xx-large;
    font-weight: 300;
}

.about_roles{
    font-size: x-large;
    font-weight: 100;
}